@using System.Security.Claims;
@using System.Linq;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@if (!User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>Hello World</h1>
}
else
{

    @*@if(true)
        {

        }*@


    @foreach (var item in @User.Identities.First(u => u.IsAuthenticated &&
                           u.HasClaim(c => c.Type == ClaimTypes.Role)).FindAll(ClaimTypes.Role))
    {
        <h1>

            @item.Value;
        </h1>
    }




    <h1>
        Hello @User.Identities.First(
u => u.IsAuthenticated &&
u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
    </h1>
}


<script>
    $('#navbarHome').addClass('active');
</script>