@model WebApp.Models.UserViewModel
<div id="deleteUserPartialView">

    <p>Do you want to delete user @Model.UserName from application</p>

    @Html.HiddenFor(x => x.ConnectionId, new { @id = "hdnDeleteUserConnectionId" })

    @Html.HiddenFor(x => x.UserId, new { @id = "hdnUserIdForDelete"})

    <script>
        $('#modalLoadingIcon').modal('hide');

        setTimeout(
            function () {
                $('#hdnDeleteUserConnectionId').val($('#signalRconnectionId').val());
            }, 300);

        function deleteUserOnBegin() {
            $('#modalProgressBar').modal('show');
        };

        function deleteUserOnComplete(xhr) {
            setTimeout(
                function () {
                    $('#modalProgressBar').modal('hide');
                }, 500);
        };

        function deleteUserOnSuccess(data, status, xhr) {
            new MvcGrid(document.querySelector('#gridGetsUsersAjax')).reload();

            $('#modalDeleteUser').modal('hide');
            $('#deleteUserPartialView').remove();

            if (jQuery.type(data.Status) === "undefined") {

            }
            else {
                $('#modalDeleteUser').modal('hide');

                swalWithBootstrapButtons.fire({

                    text: data.Message,
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonText: '<i class="fas fa-check"></i> Ok'
                });
            }
        };

        function deleteUserOnFailure(XMLHttpRequest, textStatus, errorThrown) {
            new MvcGrid(document.querySelector('#gridGetsUsersAjax')).reload();

            swalWithBootstrapButtons.fire({
                title: 'Oops...',
                text: "An error occurred while processing your request",
                type: 'error',
                html: '<br> <br>  An error occurred while processing your request. <br> <br> <br> ' +
                    '<div style="text-align: center; font-size : 14px;" >   Error Message: ' + XMLHttpRequest.status + " " + errorThrown +
                    '<br> <br> ' + ' Request Id : ' + XMLHttpRequest.getResponseHeader('RequestId') + ' </div>',
                showCancelButton: false,
                confirmButtonText: '<i class="fas fa-check"></i> Ok'
            });

            setTimeout(
                function () {
                    $('#modalProgressBar').modal('hide');
                }, 500);
        };
    </script>
</div>