<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/MvcGrid/mvc-grid.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/homeController.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/src/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.29.0/jsnlog.min.js"></script>

    <script src="~/lib/MvcGrid/mvc-grid.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Index">User Management</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 pt-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div id="modalLoadingIcon"
            class="modal show" data-backdrop="static" style="z-index: 1600;"
             data-keyboard="false" tabindex="-1" data-backdrop-limit="1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content d-flex align-items-center" style="    border: 0px; background-color: transparent;box-shadow: none;border-bottom: 0px;">
                    <div class="loader"></div>
                    <span style="color:white; font-size:25px; padding-top: 10px;">Processing, Please Wait...</span>
                </div>
            </div>
        </div>

        <div id="modalProgressBar" class="modal show" data-backdrop="static" style="z-index: 1600;"
             data-keyboard="false" tabindex="-1" data-backdrop-limit="1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-m modal-dialog-centered" style=" max-width: 50% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="margin:0;">
                            <small class="text-muted">Processing. Please wait..</small>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <input type="hidden" id="progrsStartValue" name="progrsStartValue" value="" />
                            <input type="hidden" id="progrsEndValue" name="progrsEndValue" value="0" />
                            <input type="hidden" id="signalRconnectionId" name="signalRconnectionId" value="" />
                            <div id="dynamic" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                //parsing the unobtrusive attributes when we get content via ajax
                $(document).ajaxComplete(function () {
                    $.validator.unobtrusive.parse(document);
                });


                $(document).ready(function () {


                    $(document).on('show.bs.modal', '.modal', function (event) {
                        var zIndex = 1040 + (10 * $('.modal:visible').length);
                        $(this).css('z-index', zIndex);
                        setTimeout(function () {
                            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                        }, 0);
                    });
                });

                window.onerror = function (msg, url, lineNo, columnNo, error) {
                    var message = "Error in " + url + " on line " + lineNo + ": " + columnNo + msg + error;
                    JL("").error(message);
                    return false;
                };

                "use strict";

                var connection = new signalR.HubConnectionBuilder().withUrl("/anonymousClientHub").build();
                connection.start().then(function () {

                    connection.invoke('getConnectionId')
                        .then(function (connectionId) {
                            // Send the connectionId to controller
                            console.log("connectionID: " + connectionId);
                            $("#signalRconnectionId").attr("value", connectionId);
                        });
                }).catch(function (err) {
                    return console.error(err.toString());
                });

                connection.on("progressBarUpdate", function (percentage) {

                    var progrsEndValue = $('#progrsEndValue').val();

                    $("#progrsStartValue").attr("value", progrsEndValue);

                    $("#progrsEndValue").attr("value", percentage);

                    $("#dynamic")
                        .attr("aria-valuenow", percentage);


                    var delay = 200;

                    $("#dynamic")
                        .css("width", percentage + "%")

                    $("#dynamic").prop('Counter', progrsEndValue).animate({
                        Counter: percentage
                    }, {
                            duration: delay,
                            step: function (now) {
                                $(this).text(Math.ceil(now) + '%');
                            }
                        });

                    if (percentage == '100') {
                        setTimeout(
                            function () {
                                $('#progrsEndValue').val('0');
                                //$('#modalProgressBar').modal('hide');

                            }, 1000);
                    }
                });


            </script>
        </div>
    </footer>
    <script>
        +[].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            +               new MvcGrid(element);
        });

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false,
        });


    </script>

</body>
</html>
